.question-container {
  background-color: #fffafa;
  color: #28282b;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Raleway", "Monsterat";
  animation: ani 3.5s forwards;
  transition: 1s;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-person {
  font-size: 40px;
  width: 100vw;
  height: 150px;
  background-color: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  font-size: 100px;
}

.person-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.question-list {
  width: 45vw;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

progress {
  border: none;
  width: 500px;
  height: 20px;
  border: 0;
  border-radius: 20px;
  color:  linear-gradient(90deg, rgba(0,36,31,1) 1%, rgba(81,121,9,0.8099440459777661) 55%, rgba(164,255,0,0.4766107126444328) 97%);
}

progress::-moz-progress-bar {
  background:  linear-gradient(90deg, rgba(0,36,31,1) 1%, rgba(81,121,9,0.8099440459777661) 55%, rgba(164,255,0,0.4766107126444328) 97%);
  border: 0;
  border-radius: 20px;
}

progress::-webkit-progress-value {
  background: rgb(45, 149, 31);
  border: 0;;
  border-radius: 20px;
}

progress::-webkit-progress-bar {
  background: rgb(211, 225, 214);
  border: 0;
  border-radius: 20px;
}

ul,li{
  list-style: none;
  

}
ul{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 32px;
}

li{
  width: 500px;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  border-radius: 5px;
  border: 1px solid rgb(41, 39, 39);
  background-color: #eff3ed5b;
  transition: .5s;
}

li:hover{
  background-color: #597947;
  color:#fffafa;
  transition: .5s;
}

.arrow {
  font-size: 48px;
  cursor: pointer;
  transition: 1s;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  
}

.arrow-animation {
  animation-name: arrow-animation;
  animation-timing-function: linear;
}

@keyframes arrow-animation {
  0% {
    transform: translateX(10px)
  }
  50% {
    transform: translateX(0)
  }
  75% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(10px)
  }
}

.result{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Raleway", "Monsterat";
  animation: ani 3.5s forwards;
  transition: 1s;
}


.book-cell{
  margin-bottom: 250px;
  width: 250px ;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.708);
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.book-image{
  height: 200px;
  margin-right: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.book-description{
  font-size: 14px;
  font-weight: 800;
  text-align: justify;
  padding: 0px 2px 0px 2px;
}

.test{
  font-weight: 800;
  text-align: center;
}

.result{
  display: flex;
  justify-content: center;
  align-items: center;
}