.survey-container {
  font-family: "Raleway", "Monsterat";
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  text-align: center;
  animation: ani 3.5s forwards;
  transition: 1s;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  opacity: 0;
  animation: ani 3.5s forwards;
  transition: 1s;
  background: #fffafa;
  box-sizing: border-box;
}

.survey-container input {
  font-family: "Raleway", "Monsterat";
  font-size: 40px;
  background: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(31, 27, 27);
  transition: 0.5s;
}

.survey-container input:focus {
  margin-bottom: 5px;
  transition: 0.5s;
  border-bottom: 2px solid rgb(94, 91, 91);
}

label {
  font-size: 44px;
  font-family: "Raleway", "Monsterat";
}

.arrow-container {
  transition: 1s;
  display: flex;
  justify-content: center;
}

.arrow {
  font-size: 48px;
  cursor: pointer;
  transition: 1s;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.arrow-animation {
  animation-name: arrow-animation;
  animation-timing-function: linear;
}

@keyframes arrow-animation {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

.happy-level{
  display: flex;
  flex-direction: column;
}

.happy-level label{
  font-size: 32px;
}

.happy-level span{
  font-size: 44px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}